@{
    ViewData["Title"] = "Category List";
}
<style>
    body {
        font-family: Montserrat;
        margin: 0;
        padding: 0;
        background-color: #WHITE;
    }
</style>
<div class="container-fluid">
    <div class="row">
       
        <div class="col-md-2">
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create", "Category")" class="btn btn-primary">Create New Case Type</a>
            }

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var groupId = "group-" + i;
                    <a class="nav-link" id="@groupId-tab" data-toggle="pill" href="#@groupId" role="tab" aria-controls="@groupId" aria-selected="false">@Model[i].GroupName</a>
                }
            </div>
        </div>



        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var groupId = "group-" + i; 
                    <div class="tab-pane fade" id="@groupId" role="tabpanel" aria-labelledby="@groupId-tab">
                        <h3>@Model[i].GroupName</h3>

                        <ul class="list-group">
                            @foreach (var category in Model[i].Categories)
                            {
                                <li class="list-group-item">
                                    <a href="@Url.Action("Edit", "Category", new { id = category.Category_id })">@category.Case_Name</a>
                                    
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
          
            <div class="text-right mt-3">
               
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
}
